html,
body {
  height: 100%;
  width: 100%;
  font-family: Verdana, sans-serif;
  margin: 0;
  background-color: lightgrey;
}
.main-sektion {
  display: flex;
  width: 86%;
  margin-left: 7%;
  background-color: white;
  height: calc(1080px - 200px);
}
/* HEADER */
header {
  width: 86%;
  margin-left: 7%;
  height: 133px;
  border-bottom: 15px solid red;
  background-color: white;
}
.navigation-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.logo {
  margin-bottom: -50px;
  margin-left: 8%;
  width: 150px;
  z-index: 2;
}
.headbar {
  margin-right: 30px;
  display: flex;
  float: right;
}
.headbar a::before {
  content: "|";
  margin-right: 10px;
}
.headbar a {
  margin-top: 3px;
  margin-left: 15px;
  color: black;
  text-decoration: none;
}

.headbar a:hover {
  text-decoration: underline;
}
.headbar .searchinput {
  background: #3471d3;
  height: 10px;
  margin-left: 20px;
}

.headbar .searchinputt .input-container {
  width: 40%;
  margin-left: 60%;
  height: 100%;
}
.headbar .searchinput .icon {
  padding: 0;
  color: white;
  background-color: #3471d3;
  height: 23px;
}

.headbar .searchinput .icon:hover {
  color: black;
  cursor: pointer;
}

.headbar .searchinput .input-container:hover {
  width: 100%;
  margin-left: 0;
  cursor: pointer;
}

.select-wrapper {
  margin-top: 3px;
  width: 50px;
}

.select-wrapper select {
  color: black;
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}

.topnav {
  margin-left: 12%;
  width: 100%;
}
.topnav ul {
  text-align: left;
  list-style-type: none;
  text-align: left;
}
.topnav li {
  margin-top: 17px;
  width: 130px;
  float: left;
  margin-left: 2%;
  transform: rotate(-45deg);
  display: block;
}

.topnav li::before {
  content: "•";
  color: white;
  display: inline-block;
  font-size: 200%;
  width: 1em;
  margin-left: -1em;
  margin-right: 9px;
}

.topnav li a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.topnav li a:hover {
  text-decoration: underline;
}

/*ASSIDE*/

aside {
  width: 30%;
  border-right: 11px solid red;
  height: 98.9%;
}
/*INPUT*/
.section-time {
  border-bottom: 11px solid red;
  padding-bottom: 5%;
}
.fromTo {
  width: 93%;
  padding-left: 5%;
  border-left: 2.5px solid black;
}

.fromTo p {
  padding: 0;
  margin: 0;
}
.input-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.time {
  margin-top: 10px;
  display: flex;
}

.time .input-container {
  width: 50% !important;
  height: 45px;
  margin-left: 5%;
  border-bottom: 1px solid gray;
}

.time .input-time {
  width: 35% !important;
}
.time .input-field:focus {
  border: 0;
}
.time .icon {
  background: white;
  color: black;
  font-size: 200%;
  border-bottom: 1px solid gray;
}
.time input {
  margin: 0;
  border: 0;
  outline: 0;
  padding-bottom: 0;
  background: transparent;
  border-bottom: 1px solid gray;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: gray;
  color: white;
  width: 25%;
  text-align: center;
}

.fromTo .switch {
  float: right;
  font-size: 300%;
}

.fromTo p {
  margin-top: 30px;
}

.radiobotton input {
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid gray;
}

.submit-button {
  background-color: red;
  width: 75%;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 12.5%;
  border-radius: 12px;
}

.submit-button:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

aside {
  border-top: 11px solid #3471d3;
}

aside .switch:hover {
  color: gray;
  cursor: pointer;
}

/*meldungen*/
aside .meldungen {
  padding: 25px;
}

aside .meldungen summary {
  font-size: 150%;
}
aside .meldungen a {
  color: black;
  width: 100%;
  margin-left: 20px;
  text-decoration: none;
  font-size: 120%;
  display: block;
}
aside .meldungen a:hover {
  color: gray;
}

aside .meldungen a::before {
  content: "+ ";
  color: gray;
  font-size: 150%;
}

aside .meldung h6,
aside .meldung p {
  margin: 0;
  width: 80%;
}

aside .meldung:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}
aside .meldung:hover > .meldung-after {
  font-weight: bold;
}
aside .meldung {
  margin-top: 10px;
  display: flex;
  color: black;
  margin-left: 20px;
  font-size: 120%;
}

aside .meldung .meldung-content {
  width: 70%;
  margin-left: 10px;
}

summary {
  outline: none;
}

aside .meldung .meldung-before,
aside .meldung .meldung-after {
  color: gray;
  font-size: 150%;
}
/*MAIN*/
main {
  border-left: 11px solid #3471d3;
  border-top: 11px solid #3471d3;
  width: 70%;
  height: 98.9%;
  display: flex;
  flex-flow: row wrap;
}

.more-content {
  color: gray;
  text-decoration: none;
}
.more-content:hover {
  color: black;
  font-style: bold;
  cursor: pointer;
}

.more-content::before {
  content: " ... ";
}

/*SLIDESHOW*/

/* Slideshow container */
.slideshow-container {
  width: 67%;
  height: 500px;
  margin-right: 3%;
  margin-bottom: -100px;
  position: relative;
}

.slideshow-container img {
  width: 100%;
  height: 400px;
}
/* Hide the images by default */
.slider {
  display: none;
  box-sizing: border-box;
}

.slideshow-overlay {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  padding-top: calc((400px - 40px) / 2);
}

.slideshow-prev,
.slideshow-next {
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.slideshow-next {
  margin-left: calc((100% - 120px));
}
.slideshow-prev:hover,
.slideshow-next:hover,
.slideshow-dot-container:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slideshow-text {
  font-size: 12px;
  padding: 8px 12px;
  color: black;
  width: 80%;
  margin-left: 15%;
}

.slideshow-text h3 {
  margin: 0;
}
.slideshow-dot-container {
  margin-top: 150px;
  text-align: center;
}

.slideshow-dot {
  text-align: center;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.slideshow-dot:hover {
  cursor: pointer;
  background-color: #717171;
}

/* Fading animation */
.slider {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*service*/

.services {
  width: 30%;
  font-size: 90%;
  height: 500px;
  margin-bottom: -100px;
}
.service {
  width: 100%;
  display: flex;
  height: 70px;
  margin-top: 48px;
}

.service:hover > .service-text-wrapper {
  cursor: pointer;
  background-color: gray;
  color: white;
}
.service:hover > .service-detail-button {
  cursor: pointer;
  background-color: gray;
}

.service .service-icon-wrapper {
  height: 70px;
  width: 70px;
  background-color: gray;
}

.service .service-icon-wrapper .icon {
  font-size: 50px;
}

.service .service-detail-button {
  color: red;
  width: 10px;
  font-size: 50px;
  background-color: lightgray;
  padding-right: 30px;
}
.service .service-text-wrapper {
  width: 180px;
  padding: 10px;
  background-color: lightgrey;
  vertical-align: middle;
  text-align: center;
}
.service .service-text-wrapper h5 {
  margin-bottom: 0;
  font-size: 14px;
  margin-top: calc(15% - 14px);
}
.lines {
  width: 100%;
  height: 11px;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 106px;
  flex-wrap: wrap;
  z-index: 2;
}

.lines .left-line,
.lines .right-line {
  background-color: red;

  height: 100%;
}
.lines .right-line {
  width: 89%;
  margin-left: 1%;
  margin-top: 52px;
  margin-bottom: 5px;
}
.lines .left-line {
  margin-top: 4px;
  width: 10%;
  transform: rotate(35deg) scalex(1.7);
}
.sociallinks {
  margin-top: -5px;
  margin-left: 11%;
  z-index: 2;
  flex-wrap: nowrap;
}
.sociallinks .fa {
  font-size: 35px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  background-color: #3471d3;
  color: white;
}
.sociallinks .fa:hover {
  opacity: 0.7;
}
.infos {
  margin-top: 52px;
  width: 100%;
  display: flex;
  z-index: 1;
}

.infos img {
 height: 300px;
  width: 100%;
}

.infos figcaption {
  font-size: 10px;
  display: block;
  position: absolute;
  top: 0;
}

.infos .info1 {
  width: 75%;
}
.infos .info1 figcaption {
  padding: 8px;
  margin-top: 60px;
  margin-left: 20px;
  width: 250px;
  height: 59px;
  background-color: rgba(208, 208, 208, 0.8);
}
.infos h4 {
  margin: 0px;
}
.infos .info2 {
  width: 22%;
  margin-left: 3%;
}
.infos figure {
  position: relative;
  margin: 0;
}

footer {
  height: 9px;
  background-color: red;
}
